footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(0, 15, 31);
    color:white;
    margin:100px;
    margin-left:0px;
    margin-right:0px ;
}
footer button{
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 80px;
    background-color: rgb(250, 101, 46);
}